/* CSS Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html {
    scroll-behavior: smooth;
    transition: all 0.3s;
}
body {
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    height: 100px;
    margin-left: 19.5%;
    margin-right: 19.5%;
}
section{
  background: #F5F5F5;
}
.textim{
  position: absolute;
  align-items: center;
  font-family: 'Open Sans';
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 1170px;
  margin-left: 17.3%;
  margin-right: 20%;
}
h2{
  font-family: 'Open Sans';
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  margin: 1rem;
}
h3{
  font-family: 'Open Sans';
  font-style: normal;
  color: #000000;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  text-transform: uppercase;
}
.textim p{
  padding: 0px;
  color: #FE8C12;
}
.textim > div{
  display: flex;
  margin: 0;
}
.textim > div > a > img{
  padding: 0px;
  color: #FE8C12;
  width: 100%;
  margin-top: 1rem;
  margin-right: 2rem;
  max-height: 60px;
  max-width: fit-content;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo:hover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  scale: 98%;
  transition: all 0.3s;
}
.con-h{
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-right: 0;
}
.con-h > div{
  display: flex;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Open Sans';
}
.con-h > div > div{
  font-family: 'Open Sans';
  align-items: center;
  margin: 0.5rem;
  text-transform: uppercase;
  font-size: 10px;
}
.con-h > div > div > span{
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.con-h > div > a{
  height: 60px;
}
.con-h > div:hover{
  scale: 90%;
  transition: all 0.3s;
}
.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    height: 60px;
    max-width: 1170px;
    margin-left: 19.5%;
    margin-right: 19.5%;
    top: 0px;
    position: sticky;
    z-index: 99;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 13px 30px 12px 30px;
  }
  .menu-bar .img-in{
    display: flex;
    align-items: center;
    margin: 13px 30px 12px 30px;
    height: 35px;
  }
  .img-in > div > img{
    margin: 1rem;
  }
  .img-in > div > a{
    display: block;
  }
  .img-in > div > a:hover{
    scale: 110%;
    transition: 0.3s all;
  }
  .img-in > div > a:active{
    display: none;
  }
  .menu-bar ul li {
    position: relative;
  }
  .menu-bar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 1rem;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 229, 212);
    color: rgb(0, 0, 0);
  }
.text{
  align-items: center;
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 240px 0px 180px 0px;
  margin-left: 19.5%; 
  margin-right: 19.5%;
}
.text > h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 90px;
  color: rgb(255, 255, 255);
}
#m-con{
  display: flex;
  align-items: center;
  justify-items: center;
  background: #F5F5F5;
  padding: 10px;
  max-width: 1170px;
  height: 813px;
  margin-left: 19%;
  margin-right: 19.5%;
}
#m-con .c-left{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
#m-con .c-left .img-1{
  position: absolute;
  width: 20%;
  margin-top: -8%;
}
#m-con .c-left .img-2{
  position: absolute;
  margin-left: 11%;
  width: 15%;
  margin-top: -11%;
}
#m-con .c-left .img-3{
  position: absolute;
  margin-left: 15%;
  margin-top: 0%;
  width: 10%;
}
#m-con .c-right{
  display: flex;
  position: relative;
  margin-left: 50%;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}
#m-con .c-right > div > div{
  display: flex;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  color: #000000;;
  margin: 1rem 0 0 0;
}
#m-con .c-right > div > p{
  display: flex;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  color: #FE8C12;
}
#m-con > .c-right > div > div > img{
  width: 6rem;
  margin-right: 1rem;
  border-radius: 40%;
  background: rgb(253, 253, 253);
  height: max-content;
}
#m-con .c-right > div > div > div> span{
  color: #686C73;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
#m-con .c-right > div > div > p{
  color: rgb(168, 168, 168);
  margin: 1rem 0 0 1rem;
}
#m-con .c-right > div > div > div{
  font-family: 'Open Sans';
  align-items: center;
  margin: 0.5rem;
  text-transform: uppercase;
  font-size: 16px;
}
.vids {
  display: flex;
  background-color: #3d3d3d;
  height: 648px;
  width: 100%;
}
.vids > div > img{
  position: absolute;
  margin: 7.5% 19.5% 7.5% 19.5%;
}
.vids > div > div{
  position: absolute;
  font-family: 'Estonia';
  color: white;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  margin: 10% 20% 10% 72%;
}
.vids > div > div > a > img{
  position: absolute;
  width: 100px;
  align-items: center;
  top: 150px;
  right: -90px;
  transform: translateY(-50%);
}
.vids .cor{
  position: absolute;
  margin: 387px 20px 10px 1500px;
}
.pb1 {
  background-color: #F5F5F5;
  align-items: center;
  max-width: 1920px;
  max-height: 800px;
  margin-left: 10%;
  margin-top: 2rem;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #FE8C12;
  text-transform: uppercase;
}
.pb2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  max-width: 1920px;
  max-height: 800px;
  
}
.pb {
  display: flex;
  margin-top: 2rem;
}
.pb > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #999999;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 72px;
  width: 370px;
  height: 470px;
  margin-left: 1rem;
}
.pb > .p1 > div{
  position:absolute;
  color: #FE8C12;
  font-size: 14px;
  margin-left: -120px;
  margin-top: 350px;
}
.pb > .p1 > div > p{
  color: #ffffff;
  font-size: 24px;
  line-height: 34px;
}
.pb2 > .p2 > div > a > img{
  position:absolute;
  color: #FE8C12;
  font-size: 14px;
  margin-left: -120px;
  margin-top: 350px;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}